@font-face {font-family: 'Rubik', sans-serif; src: ''}
/* navbar */
.navbar {
  padding: 14px;
}

body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #A7BDCF;
}

.box {
  display: block;
  height: auto;
  width: 70%;
  transition: .3s;
  float: right;
  align-self:center;
  border-radius: 5px;
}

.box-center {
  display: block;
  height: auto;
  width: 70%;
  transition: .3s;
  align-self:center;
  border-radius: 5px;
}

.box embed {
  display: block;
  height: auto;
  width: 70%;
  transition: .3s;
  align-self:center;
  border-radius: 5px;
}

.box img {
  display: block;
  height: auto;
  width: 10%;
  transition: .3s;
  align-self:center;
  border-radius: 5px;
}

.box:hover {
  font-size: 110%;
  background-color: #FFFFFF10;
  width: 75%;

}
/* Navbar links */
.navbar a {
  text-align: center;
  padding: 13px;
  color: #A7BDCF;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  color: #6c7a86;
}

/* background */
#background-full {
  width: 100%;
  height: 100%;
  min-height: auto;
  min-width: 1024;
}

/* header */
.header h1 {
    font-size: 80px;
    padding-top: 100px;
    color: #A7BDCF;
}

.header p {
    font-size: 24px;
    color: #A7BDCF;
}

.header {
  padding-bottom: 100px;
}

/* second level */
.second {
  padding: 5%;
  text-align: center;
}

.second h3 {
  font-size: 200%;
  opacity: 100%;
  color: silver;
}

.second h4 {
  font-size: 200%;
  opacity: 100%;
  color: silver;
}

.second img {
  opacity: 100%;
  float: left;
}

.second p.right {
  float: right;
}

/* pictures */
.image{
    transition: 3s;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
}

/* typer */
.container p span.cursor {
  display: inline-block;
  background-color: #A7BDCF;
  margin-left: 0.1rem;
  width: 3px;
  animation: cursor-blink 1.5s steps(2)
}
.container p span.cursor.typing {
  display: inline-block;
  background-color: #A7BDCF;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
/* stars */

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}